.confirm{
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    margin-top: 3%;
    padding: 3%;
}
.confirm-left{
    text-align: center;
}
.confirm-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.confirm-right{
    background: #f8f9fa;
}
.confirm-left img{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 60%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.confirm-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.confirm .confirm-form{
    padding: 10%;
    margin-top: 10%;
}
.btnconfirm{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.confirm .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.confirm .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.confirm .nav-tabs .nav-link:hover{
    border: none;
}
.confirm .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.confirm-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
.col-md-9 .col-md-4{
    padding: 0px 0px 0px 0px;
}
.margin-10px{
    margin-top: 10px;
}
.Width-20{
    width: 20%;
}
.chooseImage{
    height: 70px;
    width: 140px;
}
.btnDelete{
    float: left;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #ffa31a;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.btnFinish{
    float: left;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0063ccdc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.btnDownload{
    margin-bottom: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #00cc9d;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.textAreaStyle{
    align-content:center; 
    overflow:auto; 
    border:1px outset #000000;
}
.btnDelete:hover,
.btnDelete:focus,
.btnDelete:active,
.btnDelete.active,
.open .dropdown-toggle.btnDelete {
    color: #ffffff;
    background-color: #bd5112;
    border-color: #bd5112;
}

.btnFinish:hover,
.btnFinish:focus,
.btnFinish:active,
.btnFinish.active,
.open .dropdown-toggle.btnFinish {
    color: #ffffff;
    background-color: #0062cc;
    border-color: #0062cc;
}
.btnFinish:active,
.btnFinish.active,
.open .dropdown-toggle.btnFinish {
    background-image: none;
}

.btnFinish.disabled,
.btnFinish[disabled],
fieldset[disabled] .btnFinish,
.btnFinish.disabled:hover,
.btnFinish[disabled]:hover,
fieldset[disabled] .btnFinish:hover,
.btnFinish.disabled:focus,
.btnFinish[disabled]:focus,
fieldset[disabled] .btnFinish:focus,
.btnFinish.disabled:active,
.btnFinish[disabled]:active,
fieldset[disabled] .btnFinish:active,
.btnFinish.disabled.active,
.btnFinish[disabled].active,
fieldset[disabled] .btnFinish.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}